numpy
wheel
setuptools
pandas
requests
scikit-learn
scipy
matplotlib
seaborn
aiohttp[speedups]
aiofile
pytest
beautifulsoup4
scrapy
fastapi
uvicorn
gunicorn
flake8
pillow
django
psycopg2-binary
selenium
hypothesis